* {
  text-decoration: none;
}

.container_menu {
  width: 50rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  gap: 4rem;
}

.card {
  width: 10rem;
  height: 10rem;
  color: var(--text);
  cursor: pointer;
  background: var(--secondaryTransparent);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .7s;
}

.card:hover {
  background-color: var(--thirtyTransparent);
}

.card:active {
  background-color: var(--thirty);
}

img {
  width: 2rem;
}

p {
  text-align: center;
}
